.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 1rem;
    box-sizing: border-box;
}
.overlayEditAddForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    max-height: 90vh; /* يمنع الطلوع خارج الشاشة */
    overflow-y: auto; /* يسمح بالتمرير */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.groupForm {
    display: flex;
    flex-direction: column;
    align-items: inherit;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    padding: 10px 16px;
    gap: 10px;
}