:root {
    --mainBackgroundColoe: #F0F0F0;
    --btnBackgroundColor: #007bff;
    --btnBackgroundColorHover: #0056b3;
    --btnBackgroundColorProductAdded: #4CAF50;
    --btnBackgroundColorProductAddedHover: #45a049;
}
/* Blende die widerliche Standard-Wiederverbindungsnachricht aus */
#components-reconnect-modal {
    display: none !important;
}
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Table div */
.showLoading {
    display: table-row;
}
.tableContiner {
    position: relative;
    height: 100vh;
    overflow-y: scroll;
    border: 1px solid #cccccc;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: visible;
}
.topTable {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #cccccc;
    display: flex;
    align-items: center;
    padding: 8px;
    gap:8px;
}
.loadingTd {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: #007bff;
}

/* selected */
.table tbody tr:nth-child(2n+1) {
    background-color: #f0f0f0;
}
.table tbody tr:hover:not(.selected) {
    background-color: #dee2e6;
    cursor: pointer;
}
.table tbody tr.selected {
    background-color: #cceeff;
    cursor: pointer;
}

.hidden {
    display: none;
}
/* menu */
.contextMenu {
    z-index: 9999;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    min-width: 150px;
}

    .contextMenu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .contextMenu li a {
        display: block;
        padding: 8px 12px;
        cursor: pointer;
    }

    .contextMenu a {
        list-style: none;
        display: block;
        padding: 8px 12px;
        cursor: pointer;
    }

    .contextMenu li:hover {
        background-color: #007bff;
        color: white;
    }
/* overlay */
.overlayField {
    margin-bottom: 12px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 1rem;
    box-sizing: border-box;
}
.standardOverlayForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 0.5rem;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* Buchstabe Icon */
.customLatIcon {
    background-color: #e9ecef;
    color: #495057;
    font-weight: bold;
    font-size: 0.9em;
    min-width: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: none;
}
/* addPlusB */
.addPlusB {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #0d6efd;
    color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 1;
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 10px;
}
.addPlusB:hover {
        background-color: #0b5ed7;
        color: #0d6efd;
        transform: scale(1.1);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }
/*columns option*/
.columnsB {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #5DADE2;
    color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 1;
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 10px;
}
.columnsB:hover {
        color: #5DADE2;
        background-color: #3498DB;
        transform: scale(1.1);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }

@media (max-width: 768px) {
    .tableContiner {
        height: 80vh;
    }
    .columnsB, .addPlusB {
        width: 35px;
        height: 35px;
    }
    .addPlusB {
        padding-bottom: 6px;
    }
    .table {
        font-size: 12px;
    }
        .table td, .table th {
            padding: 6px;
        }
    .standardOverlayForm {
        height: 80vh; 
        margin-bottom: 80px;
        overflow-y: auto; 
    }
    .standardOverlayForm .mt-3 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .standardOverlayForm .mt-3 button {
        width: 100%;
        padding: 12px;
    }
}