.main {
    min-height: 100vh;
}
.TopContiner {
    padding:15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.DropdownList {
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    min-width:100px;
    min-height:40px;
}
    .DropdownList:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 3px rgba(0,123,255,0.25);
    }
.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: visible;
}

        .table th, .table td {
            border: 1px solid #dee2e6;
            padding: 0.5rem;
            text-align: left;
        }

    .table tr:nth-child(even) {
        background-color: #f8f9fa;
    }
/* selected */
.table tbody tr.selected {
    background-color: #cceeff;
}
.table tbody tr:hover:not(selected) {
    background-color: #e0f3ff;
    cursor: pointer;
}



@media (max-width: 768px) {
    .main {
        padding: 5px;
    }

    .TopContiner {
        flex-direction: column;
        gap: 10px;
    }
    .tableResponsive {
        border-radius: 10px;
        overflow-x: auto;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }
    .customTable {
        font-size: 12px;
    }
        .customTable td,
        .customTable th {
            padding: 6px;
        }
       
}
