.DropdownList {
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    min-width:100px;
    min-height:40px;
}
    .DropdownList:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 3px rgba(0,123,255,0.25);
    }
