.main {
    min-height: 100vh;
}
.TopContiner {
    padding:15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.topTable {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #cccccc;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.addProductB {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #0d6efd;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 1;
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 10px;
}

    .addProductB:hover {
        background-color: #0b5ed7;
        transform: scale(1.1);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }
.columnsB {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #5DADE2;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 1;
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 10px;
}

    .columnsB:hover {
        background-color: #3498DB;
        transform: scale(1.1);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }
.DropdownList {
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    min-width:100px;
    min-height:40px;
}
    .DropdownList:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 3px rgba(0,123,255,0.25);
    }
.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: visible;
}

        .table th, .table td {
            border: 1px solid #dee2e6;
            padding: 0.5rem;
            text-align: left;
        }

    .table tr:nth-child(even) {
        background-color: #f8f9fa;
    }
/* selected */
.table tbody tr.selected {
    background-color: #cceeff;
}
.table tbody tr:hover:not(selected) {
    background-color: #e0f3ff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .main {
        padding: 5px;
    }

    .TopContiner {
        gap: 10px;
    }
    .tableResponsive {
        border-radius: 10px;
        overflow: visible;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }
    .customTable {
        font-size: 12px;
    }
        .customTable td,
        .customTable th {
            padding: 6px;
        }
       
}
