.topTable {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #cccccc;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding:5px;
    gap:10px;
}
.discountTable {
    font-size: 15px;
}

    .discountTable td,
    .discountTable th {
        vertical-align: middle;
    }


    .discountTable td {
        white-space: nowrap;
    }

    .discountTable tbody tr {
        transition: all 0.2s ease;
        cursor: pointer;
    }

        .discountTable tbody tr.bg-success:hover {
            background-color: #157347 !important;
            filter: brightness(90%);
        }

        .discountTable tbody tr.bg-danger:hover {
            background-color: #bb2d3b !important;
            filter: brightness(90%);
        }

        .discountTable tbody tr:hover {
            box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
        }

/* menu */
.contextMenu {
    z-index: 9999;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    min-width: 150px;
}

    .contextMenu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .contextMenu li a {
        display: block;
        padding: 8px 12px;
        cursor: pointer;
    }

    .contextMenu a {
        list-style: none;
        display: block;
        padding: 8px 12px;
        cursor: pointer;
    }

    .contextMenu li:hover {
        background-color: #007bff;
        color: white;
    }
@media (max-width: 768px) {
    .tableResponsive {
        border-radius: 10px;
        overflow-x: auto;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }
    .topTable .btn:not(.columnsB) {
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
    }

    .topTable i {
        font-size: 0.7rem; 
    }
    
   
    .discountTable {
        font-size: 12px;
    }

        .discountTable td,
        .discountTable th {
            padding: 6px;
        }
}