/* user info*/
.userInfo {
    font-size: 18px;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0;
}
.userName {
    font-weight: bold;
    color: #585858;
}
/* top continer */
.TopContiner {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    justify-content: center;
   
}
    .TopContiner button, .TopContiner input {
        margin: 0;
        margin: 10px 14px; 
    }

/* table */
.tableContiner {
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input {
    display: flex;
    justify-content: center;
    padding: 10px 14px;
    margin-top: 20px;
    font-size: 16px;
    width: 200%;
    max-width: 400px;
    border: 2px solid #007bff;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

    .input:focus {
        border-color: #0056b3;
        box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.25);
    }

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    height: auto;
}
    .table tbody td {
        font-size: 16px;
        justify-content: center;
        text-align: center;
    }
    .table tbody tr:nth-child(2n+1) {
        background-color: #f0f0f0;

    }

    .table tbody tr.selected {
        background-color: #cceeff;
    }

    .table tbody tr:hover:not(selected) {
        background-color: #e0f3ff;
        cursor: pointer;
    }

    .table tbody tr .deleteForm button {
        background-color: #dc3545;
        color: white;
        border: none;
        padding: 10px 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }
        .table tbody tr .deleteForm button:hover {
            background-color: #c82333;
            transform: scale(1.05);
        }
     .table tbody tr .editForm{
         gap:10px;
         display:flex;
        }
    .table tbody tr  .editForm button:first-child {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }
        .table tbody tr  .editForm button:first-child:hover {
            background-color: #218838;
            transform: scale(1.05);
        }
    .table tbody tr .editForm button:last-child {
        background-color: #757e84;
        color: white;
        border: none;
        padding: 10px 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }
        .table tbody tr .editForm button:last-child:hover {
            background-color: #5a6268;
            transform: scale(1.05);
        }
 .productImg {
            width: 75px;
            height: 75px;
            border-radius: 12px;
        }
/* add product */
.productForm {
    display: flex;
    flex-direction: column;
    align-items: inherit;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    padding: 10px 16px;
    gap: 10px;
}
.formGroupAdd{
    margin:10px;
}
.addProductB {
    margin: 10px;
    background-color: #007bff;
    color:white;
}
    .addProductB:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }
.addProductCancelB {
    background-color: #757e84;
    margin: 10px;
    color:white;
}
.addProductCancelB:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}
    /* etikettBarcode erlement */
.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
.addProductTopB {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
}

    .addProductTopB:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }
.addProductCancelB {
    color: white;
    background-color: #757e84;
}

    .addProductCancelB:hover {
        background-color: #5a6268;
        transform: scale(1.05);
    }
/* delete product */
.deleteB {
    background-color: #dc3545;
    color: white;
}

    .deleteB:hover {
        background-color: #c82333;
        transform: scale(1.05);
    }

.deleteCancelB {
    color: white;
    background-color: #757e84;
}
    .deleteCancelB:hover {
        background-color: #5a6268;
        transform: scale(1.05);
    }
    /* Label-Style*/
    .labelPId {
        display: block;
        font-weight: 600;
        font-size: 1rem;
        color: #333;
        margin-bottom: 0.4rem;
        transition: color 0.3s ease;
        text-align: left;
        width: auto;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .labelPId:hover {
        color: #007acc;
        text-decoration: underline;
        transform: scale(1.03);
    }
/* Bild-Styling */
.imgBarcode {
    width: 50%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    display: block;
    cursor: pointer;
}

    .imgBarcode:hover {
        transform: scale(1.03);
    }
/* Button-Styling */
.btn {
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.printB {
    background-color: #fd7e14;
    color: #ffffff;
}

    .printB:hover {
        background-color: #e56700;
        transform: scale(1.05);
    }

.saveB {
    background-color: #28a745; 
    color: white;
}

    .saveB:hover {
        background-color: #218838;
        transform: scale(1.05);
    }

.generatorB {
    background-color: #007bff; 
    color: white;
}

    .generatorB:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }
.generatorCancelB {
    color: white;
    background-color: #757e84;
}
    .generatorCancelB:hover {
        background-color: #5a6268;
        transform: scale(1.05);
    }
    /* select */
    .saveType {
    }

.generatorType {
}
/* loadingMessage-Styling */
.loadingMessage {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: #007bff;
}

.etikett {
    width: 600px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 8px;
    border:none;
    background-color: #fff;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    text-align: center;
    margin: 20px auto;
}

    .etikett:hover {
        transform: scale(1.03);
        cursor: pointer;
    }

    .etikett img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

productInfo {
    width: auto;
    height: auto;
}

.productInfo p {
    margin: 4px 0;
    font-weight: bold;
    font-size: 18px;
}

.hidden {
    display: none;
}

.show {
    display: table-row;
}
