/* top continer */
.TopContiner {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    height:50px;
    justify-content: center;
}
    .TopContiner  {
        margin: 0;
        margin: 10px 14px;
    }

/* table */
.tableContiner {
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    height: auto;
}
    .table thead th {
        position: sticky;
        top: 0;
        background-color:#ffffff;
        z-index: 2; /* يخلي العناوين فوق بقية الخلايا */
        border-bottom: 2px solid #ccc;
    }
    .table tbody tr td {
        font-size: 15px;
        vertical-align: middle;
        text-align: center;
        height: 120px;
    }
/* selected */
    .table tbody tr:nth-child(2n+1) {
        background-color: #f0f0f0;
    }

    .table tbody tr.selected {
        background-color: #cceeff;
    }

    .table tbody tr:hover:not(selected) {
        background-color: #e0f3ff;
        cursor: pointer;
    }
.AddDecresaseCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 1px;
}
/* search */
.searchWrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.searchInput {
    width: 100%;
    padding: 10px 40px 10px 14px; /* تعطي مساحة كافية لزر المسح (يمين) */
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

    .searchInput:focus {
        border-color: #0056b3;
        box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.25);
    }

.clearButton {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 25px;
    line-height: 1;
    color: #888888;
    padding: 0;
    user-select: none;
}
    .clearButton:hover {
        background-color: #e0e0e0;
        color: #888888; 
        border-radius: 50%;
        
    }
.categoryDropdown {
    padding: 0px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}
    .categoryDropdown:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 3px rgba(0,123,255,0.25);
    }
/* product image */
.productImg {
    width: 75px;
    height: 75px;
    border-radius: 12px;
}
/* add product */

.overlayAddForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    max-height: 90vh; /* يمنع الطلوع خارج الشاشة */
    overflow-y: auto; /* يسمح بالتمرير */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.formGroupAdd {
    margin: 10px;
}

.addProductCancelB {
    background-color: #757e84;
    color: white;
}

    .addProductCancelB:hover {
        background-color: #5a6268;
        transform: scale(1.05);
    }
/* etikettBarcode erlement */
.addProductTopB {
    background-color: #007bff;
    color: white;
}

    .addProductTopB:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }

.addProductCancelB {
    color: white;
    background-color: #757e84;
}

    .addProductCancelB:hover {
        background-color: #5a6268;
        transform: scale(1.05);
    }
/* Invoice */
.InvoiceB {
    color: white;
    background-color: #16A34A;
}
    .InvoiceB:hover {
        background-color: #15803D;
    }
.InvoiceCancelB {
    color: white;
    background-color: #757e84;
}
    .InvoiceCancelB:hover {
        background-color: #5a6268;
        transform: scale(1.05);
    }
.InvoiceGeB {
    color: white;
    background-color: #7C3AED;
}
    .InvoiceGeB:hover {
        background-color: #6D28D9;
        transform: scale(1.05);
    }
/* Button-Styling */
.btn {
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 1rem;
    box-sizing: border-box;
}
/* loadingMessage-Styling */
.loadingMessage {
        text-align: center;
        margin-top: 10px;
        font-weight: bold;
        color: #007bff;
}

.hidden {
    display: none;
}

.show {
    display: table-row;
}
/* when minimum stock is reached */
.IsMinimumStock {
    background-color: #f44336;
    color: white;
}
/* Invoice */
/* order */
.addAddressClassB {
    display: flex;
    gap: 10px;
    flex-direction: row;
    margin-top: 10px;
}
.addAddressB {
    background-color: #007bff;
    color: white;
}

    .addAddressB:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }
.addressRadio {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.addressOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
}

    /* حتى لا يتمدد label */
    .addressOption label {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-grow: 1;
        margin: 0;
    }
.paymentMethodOption {
    display: flex;
    flex-direction: column;
}
    .paymentMethodOption label {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 0.95rem;
    }
.discountClass{
    display:flex;
    flex-direction:column;
    gap:5px;
}
.placeOrder {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding-top: 15px;
    border-top: 2px solid #cccccc;
}
.OrderClassB {
    display: flex;
    flex-direction: row;
    gap:5px;
}
.InvoiceGenerateB {
    background-color: #007bff;
    color: white;
}

    .InvoiceGenerateB:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }

.InvoiceGeneratCancelB {
    background-color: #757e84;
    color: white;
}

    .InvoiceGeneratCancelB:hover {
        background-color: #5a6268;
        transform: scale(1.05);
    }
/* menu */
.contextMenu {
    z-index: 9999;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    min-width: 150px;
}

    .contextMenu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .contextMenu li {
        padding: 8px 12px;
        cursor: pointer;
    }

        .contextMenu li:hover {
            background-color: #007bff;
            color: white;
        }

@media (max-width: 768px) {
    .TopContiner {
                flex-direction: column; 
                gap: 15px;
                height: auto;
                align-items: center;
            }
    .tableContiner {
        max-height: 60vh; /* ارتفاع محدد بالنسبة للشاشة */
        overflow-y: auto; /* scroll عمودي */
        overflow-x: hidden; /* scroll أفقي */
        display: block; /* منع flex من تعطيل scroll */
        padding: 0 5px;
    }

        .tableContiner tr {
            user-select: none;
            -webkit-touch-callout: none;
        }
    .table {
        width: 100%; /* يجعل الجدول يملأ عرض الشاشة */
        font-size: 13px;
        margin-top: 1rem;
        table-layout: auto; /* الأعمدة تتوزع حسب المحتوى */
    }
        .table tbody tr td {
            font-size: 13px;
            height: auto;
            padding: 8px;
        }
    /* Suchen */
    .searchWrapper,
    .filterContainer {
        max-width: 100%;
        margin: 8px 0;
    }

    .searchInput {
        font-size: 14px;
        padding: 8px 35px 8px 10px;
    }

    .clearButton {
        font-size: 20px;
    }

    /* product Image  */
    .productImg {
        width: 60px;
        height: 60px;
    }


    .overlayAddForm,
    .PaymentMethodForm,
    .overlayOrderForm {
        max-width: 95%;
        padding: 1rem;
    }

    .buttonMethods {
        flex-direction: column;
        padding: 10px;
        gap: 12px;
    }

    .CaschButton,
    .EcButton {
        width: 100%;
        padding: 16px;
        font-size: 14px;
    }

    .productInfo p {
        font-size: 14px;
    }
}
